
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#bg-video {
  position: fixed;
  z-index: -1;
  height: 100vh;
  min-width: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.container {
    display: flex;
    height: 85%;
    width: 95%;
}

.greet {
    color: rgb(255, 255, 255);
    width: 50%;
    display: flex;
    font-weight: 300;
    flex-direction: column;
    padding-top: 80px;
}

.greet p {
    margin:0 10px 0 10px;
    font-family: 'Bitcount Single';
}

p.first, p.second {
    white-space: nowrap;
}

p.first {
    margin-bottom: -30px;
    font-size: 8.5vw;
}

p.second {
    font-size: 5.9vw;
}

p.third {
    font-size: 2.5vw;
}

p.fourth {
    margin-top: 20px;
    max-width: 600px;
}


/*

@keyframes popup {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;;
    }
}

@keyframes hide {
    to {
        opacity: 0;
    }
}

@keyframes slideUp {
    to {
        transform: translate(-115vh, -45vh) scale(0.5);
        opacity: 1;
    }
}

@keyframes blink {
    0%, 100% {
        border-color: white
    }
    50% {
        border-color: transparent;
    }
}

@keyframes replace {
    0% {
        width: 7em;
        margin-left: 34px;
    }
    50% {
        width: 0em;
        margin-left: 141px;
        font-family: 'Bitcount Single';
    }
    60% {
        font-family: 'Russo One';
    }
    100% {
        width: 7em;
        margin-left: 34px;
        font-family: 'Russo One';
    }
} */