
body {
    background-color: #100720;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes popup {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;;
    }
}

@keyframes hide {
    to {
        opacity: 0;
    }
}

@keyframes slideUp {
    to {
        transform: translate(-115vh, -45vh) scale(0.5);
        opacity: 1;
    }
}

@keyframes blink {
    0%, 100% {
        border-color: white
    }
    50% {
        border-color: transparent;
    }
}

@keyframes replace {
    0% {
        width: 7em;
        margin-left: 34px;
    }
    50% {
        width: 0em;
        margin-left: 141px;
        font-family: 'Bitcount Single';
    }
    60% {
        font-family: 'Russo One';
    }
    100% {
        width: 7em;
        margin-left: 34px;
        font-family: 'Russo One';
    }
}

.headings {
    color: white;
    width: 910px;
    display: flex;
    font-size: 4vw;
    font-family: 'Bitcount Single';
    font-weight: 300;
}

p.wc {
    animation: popup 1.5s ease forwards, hide 1s ease forwards 1.5s;
    letter-spacing: 0.1em;
    white-space: nowrap;
    margin-left: 12px;
    opacity: 0;
}

p.typed-txt {
    animation: popup 1.5s ease forwards, slideUp 1.5s ease forwards 1.5s,
    replace 4s ease forwards 4s,
    blink 0.7s step-end 6 4s;
    white-space: nowrap;
    letter-spacing: 0.1em;
    overflow: hidden;
    border-right: solid white 0.15em;
    border-color: transparent;
    margin-left: 34px;
    opacity: 0;
    flex-shrink: 0;
}


